{% extends "layout1.html"%}
{% block content %}
<h1> Home page</h1>
<style>
    body{
        background-image: url("background.jpeg");
        
    }
</style>
<form method="POST">
<div class = "search" style="text-align: center;">
    <input type="text" placeholder="Search.." name="search">    
    <button type="submit"><i class="fa fa-search"></i></button>
</div>
    
</form>

    {% if names %}
        {% for name,price,rating,image in zip(names,prices,ratings,images) %}
        <div class="image-area">
            <div class="image" >
                <img src = "{{image}}">
            </div>
            <div class="description">
                {{name}}
                {{price}}
                {{rating}}
            </div>
        
            <br>
        </div>
        {% endfor %}
    {% endif %}

{% endblock content %}